docs/*.pdf
assets/db/
.venv/
.venv-win/
.venv.bak*/
.venv.wsl_bak/
__pycache__/
*.pyc
*.egg-info/
dist/
build/
assets/models/*.gguf
assets/models/*.bin
assets/models/embedder/
assets/models/reranker/
*.safetensors
assets/db/*.db
assets/db/*.lance
.DS_Store
*.spec
*.log
.idea/
*.iml
